<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="/style/style.css" rel="stylesheet">
</head>

<body>
  <h1>
    <div heading>
      Task list
    </div>
  </h1>
  <label>
    <li>
      <input type="checkbox" name="task" value="yes">
      Task 1
    </li>
  </label>
  <label>
    <li>
      <input type="checkbox" name="task" value="yes">
      Task 2
    </li>
  </label>
  <label>
    <li>
      <input type="checkbox" name="task" value="yes">
      Task 3
    </li>
  </label>
  <label>
    <li>
      <input type="checkbox" name="task" value="yes">
      Task 4
    </li>
  </label>
  <label>
    <li>
      <input type="checkbox" name="task" value="yes">
      Task 5
    </li>
  </label>

</body>

</html>
